# PostgreSQL (RDS)
DATABASE_URL=postgresql+psycopg://proofvault:YOUR_RDS_PASSWORD@proofvault.cvm6ekuculzt.us-east-2.rds.amazonaws.com:5432/postgres

# Blockchain (Polygon Amoy testnet)
ALCHEMY_API_KEY=your_alchemy_api_key_here
AMOY_RPC_URL=https://polygon-amoy.g.alchemy.com/v2/your_alchemy_api_key_here
CONTRACT_ADDRESS=0x0aC590d6C156DAb17478e863350777C25B7Aa79D

# Frontend
FRONTEND_URL=https://main.d1ceh78ew9hjnn.amplifyapp.com
