# PostgreSQL (RDS, not local)
# Replace YOUR_RDS_PASSWORD with your actual RDS master password
DATABASE_URL=postgresql+psycopg://proofvault:YOUR_RDS_PASSWORD@proofvault.cvm6ekulczlt.us-east-2.rds.amazonaws.com:5432/proofvault

# Blockchain (Polygon Amoy testnet)
ALCHEMY_API_KEY=nP3wBQCo3L21F0OFPws1w
AMOY_RPC_URL=https://polygon-amoy.g.alchemy.com/v2/nP3wBQCo3L21F0OFPws1w
CONTRACT_ADDRESS=0x0aC590d6C156DAb17478e863350777C25B7Aa79D
